* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s ease;
}

body {
    font-family: "Jost", sans-serif;
    color: black;
    background-color: var(--cultured);
    --orange: rgb(214, 183, 125);
    --cultured: #eff1edff;
    --kombu-green: #373d20ff;
    --spanish-bistre: #717744ff;
    --sage: #bcbd8bff;
    --umber: #766153ff;
    --light-coral: #ee7674;
}

button {
    background: var(--spanish-bistre);
    color: var(--cultured);
    border: none;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 50px;
}

form input {
    margin: 2rem;
    background-color: var(--cultured);
    border: 2px solid var(--spanish-bistre);
    border-radius: 10px;
    padding: 1rem 2rem;
}

form input:active {
    background: var(--sage);
}
form h3 {
    text-align: center;
    flex: 1;
    margin: 2rem;
}

button:hover {
    background: var(--spanish-bistre);
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-info-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-section {
    display: flex;
    margin: 1rem;
    justify-content: center;
}

.form-inputs,
.form-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h1 {
    margin: 4rem;
}

.book-container {
    padding: 1rem 4rem;
    margin: 4rem;
    border-radius: 10px;
    background-color: var(--spanish-bistre);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book-container:hover {
    padding: 1.25rem 5rem;
    border-radius: 15px;
}

.book-container h2,
p {
    text-align: center;
}

#delete-button {
    display: inline;
    padding: 0.25rem 0.5rem;
}

.small-button {
    display: inline;
    padding: 0.25rem 0.5rem;
    margin: 0.5rem;
}

.small-button:hover {
    background-color: var(--sage);
}

#delete-button:hover {
    background-color: var(--light-coral);
}

.finished-book {
    background-color: var(--sage);
}
